@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

$color-primary: #480528;
$color-secondary: #14274a;
$color-white: #fff;
$color-black: #000;

body {
  background-image: radial-gradient(
    farthest-corner at 20% 45%,
    $color-primary,
    $color-secondary
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;

  &__logo {
    width: 30%;
    & img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }
  }
  &__user {
    font-size: 2rem;
    font-family: "Architects Daughter", cursive;
    text-transform: uppercase;
    color: $color-white;
  }
}

.main {
  display: flex;

  justify-content: space-between;
}

.link-form {
  width: 50%;
  padding: 5rem 6rem;

  &__heading {
    font-size: 5rem;
    color: $color-white;
    font-family: "Architects Daughter", cursive;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;

    & input {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      border-radius: 3rem;
      margin-top: 2rem;
      outline: none;
      border: none;
    }
    & #submit {
      padding: 1rem 1.5rem;
      font-size: 2rem;
      font-weight: 400;
      border-radius: 3rem;
      margin-top: 5rem;
      width: 10rem;
      align-self: flex-end;
      background-color: #fe2863;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
      transform: translateY(-1rem);
      transition: all 0.3s ease;
      outline: none;
      border: none;
      &:active {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
      }
    }
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  padding: 5rem 6rem;
  margin-right: 5rem;
  width: 50%;

  & h2 {
    font-size: 5rem;
    color: $color-white;
    text-align: right;
    margin-bottom: 3rem;
    font-family: "Architects Daughter", cursive;
  }
  &__links {
    display: flex;
  }
}
.row {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary,
    $color-primary
  );
  box-shadow: 0 1.5rem 0.5rem rgba($color-white, 0.7);

  &__col {
    margin: 1rem auto;
    & a {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2rem;
      color: $color-white;
      text-transform: uppercase;
      transition: all 0.3s;
      display: inline-block;
      &:hover {
        color: $color-black;
        transform: scale(1.05);
      }
    }

    & span {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2rem;
      color: $color-white;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#delete {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 3rem;
  margin-top: 5rem;
  justify-self: flex-start;
  width: 50%;
  background-color: #fe2863;
  color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
  transform: translateY(-1rem);
  transition: all 0.3s ease;
  outline: none;
  border: none;
  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
  }
}
@media only screen and (max-width: 1200px) {
  .main {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .link-list {
    & h2 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    padding: 2rem 0;
    &__logo {
      & img {
        width: 5rem;
        height: 5rem;
      }
    }
    &__user {
      font-size: 1.4rem;
    }
  }
  .link-form {
    padding: 5rem 0;
    width: fit-content;
    &__heading {
      font-size: 2rem;
    }
    &__form {
      width: 100%;
      & #submit {
        align-self: center;
        width: 70%;
        font-size: 1.4rem;
      }
    }
  }
  .link-list {
    padding: 5rem 0;
    margin: auto;
    & h2 {
      font-size: 2rem;
    }
  }
  #delete {
    width: 70%;
    font-size: 1.4rem;
  }
}
