@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(farthest-corner at 20% 45%, #480528, #14274a);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem;
}

.nav__logo {
  width: 30%;
}

.nav__logo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.nav__user {
  font-size: 2rem;
  font-family: "Architects Daughter", cursive;
  text-transform: uppercase;
  color: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-form {
  width: 50%;
  padding: 5rem 6rem;
}

.link-form__heading {
  font-size: 5rem;
  color: #fff;
  font-family: "Architects Daughter", cursive;
}

.link-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.link-form__form input {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  margin-top: 2rem;
  outline: none;
  border: none;
}

.link-form__form button {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 3rem;
  margin-top: 5rem;
  width: 10rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #fe2863;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.link-form__form button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 6rem;
  margin-right: 5rem;
  width: 50%;
}

.link-list h2 {
  font-size: 5rem;
  color: #fff;
  text-align: right;
  margin-bottom: 3rem;
  font-family: "Architects Daughter", cursive;
}

.link-list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  max-width: 110rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#14274a), to(#480528));
  background-image: linear-gradient(to right bottom, #14274a, #480528);
  -webkit-box-shadow: 0 1.5rem 0.5rem rgba(255, 255, 255, 0.7);
          box-shadow: 0 1.5rem 0.5rem rgba(255, 255, 255, 0.7);
=======
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to right bottom, #14274a, #480528);
  box-shadow: 0 1.5rem 0.5rem rgba(255, 255, 255, 0.7);
>>>>>>> cc287821e0f1c3b1eee5ea7aec4e5b4c76d95923
}

.row__col {
  margin: 1rem auto;
}

.row__col a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
<<<<<<< HEAD
  -webkit-transition: all 0.3s;
=======
>>>>>>> cc287821e0f1c3b1eee5ea7aec4e5b4c76d95923
  transition: all 0.3s;
  display: inline-block;
}

.row__col a:hover {
  color: #000;
<<<<<<< HEAD
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
=======
  transform: scale(1.05);
>>>>>>> cc287821e0f1c3b1eee5ea7aec4e5b4c76d95923
}

.row__col span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */