@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(farthest-corner at 20% 45%, #480528, #14274a);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.nav__logo {
  width: 30%;
}

.nav__logo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.nav__user {
  font-size: 2rem;
  font-family: "Architects Daughter", cursive;
  text-transform: uppercase;
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-between;
}

.link-form {
  width: 50%;
  padding: 5rem 6rem;
}

.link-form__heading {
  font-size: 5rem;
  color: #fff;
  font-family: "Architects Daughter", cursive;
}

.link-form__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.link-form__form input {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  margin-top: 2rem;
  outline: none;
  border: none;
}

.link-form__form #submit {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 3rem;
  margin-top: 5rem;
  width: 10rem;
  align-self: flex-end;
  background-color: #fe2863;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  transform: translateY(-1rem);
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.link-form__form #submit:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.link-list {
  display: flex;
  flex-direction: column;
  padding: 5rem 6rem;
  margin-right: 5rem;
  width: 30%;
}

.link-list h2 {
  font-size: 5rem;
  color: #fff;
  text-align: right;
  margin-bottom: 3rem;
  font-family: "Architects Daughter", cursive;
}

.link-list__links {
  display: flex;
}

.row {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to right bottom, #14274a, #480528);
  box-shadow: 0 1.5rem 0.5rem rgba(255, 255, 255, 0.7);
}

.row__col {
  margin: 1rem auto;
  position: relative;
}

.row__col a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  display: inline-block;
}

.row__col a:hover {
  color: #000;
  transform: scale(1.05);
}

.row__col span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #fff;
}

.row__col .cross {
  font-size: 1rem;
  position: absolute;
  padding: 0;
  margin: 0;
  right: -2rem;
  top: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#delete {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 3rem;
  margin-top: 5rem;
  justify-self: flex-start;
  width: 50%;
  background-color: #fe2863;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  transform: translateY(-1rem);
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

#delete:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .link-list h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    padding: 2rem 0;
  }
  .nav__logo img {
    width: 5rem;
    height: 5rem;
  }
  .nav__user {
    font-size: 1.4rem;
  }
  .link-form {
    padding: 5rem 0;
    width: fit-content;
  }
  .link-form__heading {
    font-size: 2rem;
  }
  .link-form__form {
    width: 100%;
  }
  .link-form__form #submit {
    align-self: center;
    width: 70%;
    font-size: 1.4rem;
  }
  .link-list {
    padding: 5rem 0;
    margin: auto;
  }
  .link-list h2 {
    font-size: 2rem;
  }
  #delete {
    width: 70%;
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */