@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

$color-primary: #480528;
$color-secondary: #14274a;
$color-white: #fff;
$color-black: #000;

body {
  // background-image: linear-gradient(
  //   to right bottom,
  //   $color-primary,
  //   $color-secondary
  // );
  background-image: radial-gradient(
    farthest-corner at 20% 45%,
    $color-primary,
    $color-secondary
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;

  &__logo {
    width: 30%;
    & img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }
  }
  &__user {
    font-size: 2rem;
    font-family: "Architects Daughter", cursive;
    text-transform: uppercase;
    color: $color-white;
  }
}
.link-form {
  padding: 5rem 6rem;

  &__heading {
    font-size: 5rem;
    color: $color-white;
    font-family: "Architects Daughter", cursive;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 30%;

    & input {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      border-radius: 3rem;
      margin-top: 2rem;
      outline: none;
      border: none;
    }
    & button {
      padding: 1rem 1.5rem;
      font-size: 2rem;
      font-weight: 400;
      border-radius: 3rem;
      margin-top: 5rem;
      width: 10rem;
      align-self: flex-end;
      background-color: #fe2863;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
      transform: translateY(-1rem);
      transition: all 0.3s ease;
      outline: none;
      border: none;
      &:active {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
      }
    }
  }
}
